<div class="container">
	<h2 class="text-center">ログイン画面</h2>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<form action="">
				<label for="name">Your Nmae: </label>
				<input type="text" name="name" id="name" class="form-control">
				<input type="submit" value="ログイン" class="form-control">
			</form>
		</div>
	</div>
</div>
